<?php
/**
 * Category view template
 *
 * @var $block \IAGC\FreeGift\Block\Product
 */
$thumbnailWidth = 80;
$thumbnailHeight = 80;
$isSelectMode = $block->isSelectMode();
?>
<div class="freegift-products<?php if($isSelectMode):?> freegift-select-mode<?php endif;?>" id="freegift-products">
    <h3 class="freegift-block-title"><i class="fg-gift"></i> <?php echo __("Free Gifts")?></h3>
    <?php if($isSelectMode):?>
        <p><?php echo __("Buy this product and get %1 free gifts from the list below.", '<strong>'.$block->getNumberOfFreeGift().'</strong>')?></p>
    <?php else:?>
        <p><?php echo __("Buy this product and get all free gifts below.")?></p>
    <?php endif;?>
    <?php foreach($block->getFreeProducts() as $_product):?>
    <div class="freegift-info" data-product="<?php echo $_product->getId()?>">
        <div class="freegift-thumbnail">
            <img src="<?php echo $block->getProductImageUrl($_product, $thumbnailWidth, $thumbnailHeight)?>" width="<?php echo $thumbnailWidth?>" height="<?php echo $thumbnailHeight?>">
        </div>
        <div class="product-item-name freegift-name">
            <?php echo $_product->getName();?>
        </div>
        <div class="freegift-regular-price"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?></div>
        <div class="freegift-selected"><i class="fg-selected"></i></div>
        <div class="freegift-view"><a href="<?php echo $_product->getProductUrl()?>" target="_blank"><i class="fg-product"></i></a></div>
    </div>
    <?php endforeach;?>
    <?php if($isSelectMode):?>
    <input type="text" style="visibility: hidden;" class="required-entry" id="selected-gift" name="selected_free_gifts" value="" />
    <?php endif;?>
</div>
<?php if($isSelectMode):?>
<script type="text/javascript">
require([
    "jquery",
    "Magento_Ui/js/modal/alert",
    "Magento_Ui/js/modal/confirm",
], function($, alert, confirm){
	var FREEGIFT_NUM = <?php echo $block->getNumberOfFreeGift()?>;
	
	$("#product_addtocart_form").submit(function( event, data ) {
		if($(this).data('forge-submit')) return true;
		
		var selectedFreegift = $('#selected-gift').val()?$($('#selected-gift').val().split(',')).size():0;
		if(selectedFreegift < FREEGIFT_NUM){
			confirm({
	    		modalClass: 'confirm iagc-warning freegif-warning-modal',
	            title: "<?php echo __("Warning ...");?>",
	            content: "<?php echo __('You can select %1 free gifts. (%2 free gift(s) is selected)')?>".replace("%1",'<strong>'+FREEGIFT_NUM+'</strong>').replace("%2",'<strong>'+selectedFreegift+'</strong>'),
	            buttons: [{
	                text: "<?php echo __('Select more free gifts')?>",
	                class: 'action-secondary action-dismiss',

	                /**
	                 * Click handler.
	                 */
	                click: function (event) {
	                    this.closeModal(event);
	                }
	            }, {
	                text: "<?php echo __("Don't select more free gifts")?>",
	                class: 'action primary action-primary action-accept',

	                /**
	                 * Click handler.
	                 */
	                click: function (event) {
	                    this.closeModal(event, true);
	                }
	            }],
	            actions: {
	                confirm: function () {
		                $('#selected-gift').removeClass('required-entry');
		                $("#product_addtocart_form").data('forge-submit', 1).submit();
		                $("#product_addtocart_form").data('forge-submit', 0)
		                $('#selected-gift').addClass('required-entry');
	                },
	                cancel: function () {}
	            }
	        });
	        
			/*Select more free gifts*/
        	event.preventDefault();
		}
	});
	
	$("#freegift-products .freegift-info").each(function(index, elm){
		$(elm).click(function(e){
			var target = $(e.target);
			if(target.is('.freegift-view') || target.is('.fg-product')) return;
			
			$(this).toggleClass('selected');

			if(!updateSelectedGift())
				$(this).removeClass('selected');
		});
	});
	
	function updateSelectedGift(){
		var selected = [];
		$("#freegift-products .freegift-info.selected").each(function(index, elm){
			selected.push($(elm).data('product'));
		});
		if(FREEGIFT_NUM < $(selected).size()){
			alert({
				modalClass: 'error freegif-warning-modal',
                title: "<?php echo __("Error ...");?>",
                content: "<?php echo __('You cannot select more than %1 free gifts')?>".replace("%1",FREEGIFT_NUM),
            });
            return false;
		}
		
		$('#selected-gift').val(selected.join(','));
		return true;
	}
});
</script>
<?php endif;?>
