<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \IAGC\FreeGift\Block\Sales
 */
?>
<div id="freegift-list-container" class="fg-list-container page-products" data-bind="scope: 'freegift'">
<!-- ko if: canShowBlock() -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "#freegift-list-container": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        }
    }
</script>
