<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="products wrapper products-grid">
	<h3 class="freegift-block-title"><i class="fg-gift"></i> <span data-bind="text: $t('Free Gifts')"></span></h3>
	<p data-bind="html: $t('Select %1 free gifts from the list below. (%2 is added.)').replace('%1',freeGiftLimit()).replace('%2',addedFreeGiftCount())"></p>
	<ol class="products list items product-items">
    	<!-- ko foreach: {data: products, as: 'product'} -->
            <li class="item product product-item">
				<div class="product-item-info" data-container="product-grid">
				<a data-bind="attr: {href: product.product_url}, html: product.image_html" class="product photo product-item-photo" tabindex="-1">
				</a>
                     
				<div class="product details product-item-details">
                     <div class="auc-product-info">
						<strong class="product name product-item-name">
							<a class="product-item-link"
                                data-bind="attr:{href:product.product_url}, html: product.name">
							</a>
						</strong>
                         
						<div class="price-box price-final_price" data-role="priceBox">
							<span class="price-container price-final_price tax weee">
								<span class="price-wrapper" data-bind="html: $parent.formatPrice(product.final_price)"></span>
					        </span>
						</div>
                     </div>
                 </div>
                 
                 <div class="product actions product-item-actions">
                 	<div class="actions-primary">
                       	<button type="button" data-bind="css: product.isAddingToCart()?'disabled':'',click: $parent.addFreeGiftToCart.bind($parent, $data), attr: {title:$t('Get This Free Gift')}" class="action tocart primary">
                            <span data-bind="text:$t('Get This Free Gift')"></span>
                        </button>
                	</div>
               	</div>
        	</div>
		</li>
        <!-- /ko -->
    </ol>
</div>
